*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:monospace;
   
}
html,body{
    height: 100%;
    width: 100%;

}
.nav{
    height: 70px;
    width: 100%;
 position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
   justify-content: flex-start;
   gap: 20px;
   z-index: 99;
   


}
.nav img{
    height: 30px;
}

.nav h2{
    text-transform: uppercase;
    font-weight:40px;
    color:red;
}

.nav h4{
    text-transform: uppercase;
    font-weight:40px;
    color:red;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

{
   background-color: rgb(0, 0,0,0.35);
    position:relative;

}
#main{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

}